<html>
  <head>
    <title>Conway's Game of Life | Marko Demo</title>
  </head>
  <body>

    <h1>Conway's Game of Life using Marko</h1>

    <game-of-life height=30 width=30 />

    <h2>Instructions</h2>
    <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Conway's Game of Life on Wikipedia</a>
  </body>
</html>
